absl-py==0.10.0
dill==0.3.3
dm-haiku==0.0.3
jax==0.2.20
https://storage.googleapis.com/jax-releases/nocuda/jaxlib-0.1.69-cp38-none-manylinux2010_x86_64.whl
jaxline==0.0.2
ml_collections>=0.1.0
numpy==1.*
tensorflow>=2.3.1
tensorflow-datasets==4.1.0
tensorflow-probability==0.12.1
typing_extensions>=3.7
wrapt==1.11.2
scikit-image==0.17.2
git+https://github.com/deepmind/dm_pix@6465d23f01ccff1148da183cf1f46cc0ab69a4cb#egg=dm_pix
optax==0.0.9
chex==0.0.8
